################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/dirdiff.VC.VC.opendb
/dirdiff/x64/Debug/dirdiff.tlog
/dirdiff/x64/Debug/dirdiff.log
/dirdiff/x64/Debug
/x64/Debug
/.vs/dirdiff/v14
/dirdiff.VC.db
/Debug
*.user
/dirdiff/Debug
*.log
/dirdiff/Release
/Release
